absl-py==0.9.0
astor==0.8.1
attrs==19.3.0
backports-abc==0.5
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0.post1
bleach==3.1.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
configobj==5.0.6
configparser==4.0.2
contextlib2==0.6.0.post1
cycler==0.10.0
decorator==4.4.1
defusedxml==0.6.0
entrypoints==0.3
enum34==1.1.6
Flask==1.1.1
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.3.0
gast==0.3.3
google-pasta==0.1.8
grpcio==1.27.2
h5py==2.10.0
idna==2.8
importlib-metadata==1.5.0
ipaddress==1.0.23
ipykernel==4.10.1
ipython==5.9.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
Jinja2==2.11.1
jsonschema==3.2.0
jupyter-client==5.3.4
jupyter-console==5.2.0
jupyter-core==4.6.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
mistune==0.8.4
mock==3.0.5
nbconvert==5.6.1
nbformat==4.4.0
notebook==5.7.8
numpy==1.16.6
opencv-contrib-python==4.2.0.32
opencv-python==4.2.0.32
pandas==0.24.2
pandocfilters==1.4.2
pathlib2==2.3.5
pexpect==4.8.0
pickleshare==0.7.5
Pillow==6.2.2
prometheus-client==0.7.1
prompt-toolkit==1.0.18
protobuf==3.11.3
psutil==5.4.2
ptyprocess==0.6.0
pycairo==1.16.2
pycrypto==2.6.1
Pygments==2.5.2
pygobject==3.26.1
pyparted==3.11.1
pyrsistent==0.15.7
python-apt==1.6.4
python-dateutil==2.8.1
python-xapp==1.6.0
python-xlib==0.20
pytz==2019.3
pyxdg==0.25
PyYAML==5.2
pyzmq==18.1.1
qtconsole==4.6.0
requests==2.22.0
scandir==1.10.0
scipy==1.2.2
Send2Trash==1.5.0
setproctitle==1.1.10
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.14.0
tensorboard==1.14.0
tensorflow==1.15.2
tensorflow-estimator==1.14.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tflearn==0.3.2
tornado==5.1.1
tqdm==4.42.1
traitlets==4.3.3
urllib3==1.25.7
virtualenv==15.1.0
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==1.0.0
widgetsnbextension==3.5.1
wrapt==1.11.2
zipp==1.1.0
